@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-color-1: #1e88e5;
  --accent-color-1: #90caf9;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 250px;
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-size: 1.4rem;
  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}
