@import "normalize.css";

html {
  font-size: 62.5%;
}

body {
  min-width: 250px;
  font-family: 'Avenir Next', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
  font-size: 1.4rem;
  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'material-icon';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.woff2') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.woff') format('woff'),
       url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
