@import "common";

#container {
  display: flex;
  background-color: #e8e8e8;

  .actions {
    min-width: 200px;
    flex: 200px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;

    &:empty {
      display: none;
    }

    > .redirect-toggler {
      padding: 10px 15px;
      background-color: #0288D1;
      color: #f0f0f0;

      &.nonNon {
        background-color: #fff !important;
        color: #252525 !important;
      }
    }

    > .link {
      > a {
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        color: #222;

        &:hover {
          background-color: #f2f2f2;
        }

        &:before {
          font-family: material-icon;
          margin-right: 10px;
          color: #606060;
        }
      }

      &.watch > a:before { content: '\f3a9' }
      &.comment > a:before { content: '\f265' }
      &.mylist > a:before { content: '\f31f' }
    }
  }

  .thumbnail {
    width: 178px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    display: none;
    margin: 10px;
    border-radius: 5px;

    &.small {
      background-size: contain;
      background-color: #111;
      background-repeat: no-repeat;
      background-position: center 0;
    }
  }
}

.redirect-toggle-switch {
  width: 36px;
  height: 12px;
  background-color: #333;
  border: 3px #333 solid;
  border-radius: 50px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    transition: none;
  }

  &.on:before,
  &.off:before {
    transition: left 250ms ease 0s;
  }

  &.on {
    background-color: #03A9F4;
    border-color: #03A9F4;

    &:before {
      left: 24px;
    }
  }
}
